*{
    margin:0px;
}
.main{
    height:100vh;
    background-color:lightskyblue;
}
.head{
    background-color:lightskyblue;
    height:10vh;
    padding-top:5vh;
}
.navbar-nav{
    color:black;
    list-style:None;
    /*background-color:pink;*/
}
.navbar-nav li{
    display:inline;
    /*background-color:lightcoral;*/
    margin-right:8px;
    font-size:25px;
}
.content{
    height:70vh;
    background-color:pink;
}
.content iframe{
    width:100%;
    height:100%;
}
.footer{
    height:15vh;
    background-color:green;
}
.head ul a{
 color:white;
 text-decoration:None;
}